.form-horizontal{
	padding-bottom: 0;
	border-bottom: none;
}
.form-group .sign{
	display: block;
    height: 35px;
    line-height: 35px;
    float: right;
    width: 10px;
	color:red;
	font-size:20px;
	font-weight: bold
}
.form-group p{
	margin-left: 90px;
	font-size: 12px;
	color: #969696;
	margin-top: 15px;
}
#activity_title{
	width: 300px;
	height: 35px;
}

.cb{
	font-size: 14px;
	font-weight: normal;
}

#url_href{
	width: 450px;
	height: 35px;
}

#active_city{
	width: 450px;
	height: 35px;
}

.adjust-top{
	margin-top: -15px;
}

.myglyphicon{
	position: relative;
	right: 20px;
}