.error {
  height: 50px;
  text-align: center;
  color: cornflowerblue;
  font-size: 20px;
  font-weight: 600;
}
.tool_unit {
  height: 300px;
  margin-top: 10px;
}
.odd_div {
  background: #fff;
}
.operation {
  margin-top: 20px;
  padding-left: 50px;
}
.operation img {
  margin-left: 30%;
}
.downloadBtn {
  width: 200px;
  margin-top: 20px;
}
.deliverBtn {
  margin-left: 120px;
}
